a {
  text-decoration: underline;
}
a strong {
  color: var(--geist-success);
}
a.reference {
  color: var(--accents-3);
  text-decoration: none;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ol {
  list-style: number;
  padding-left: 20px;
}

.split-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom {
  position: absolute;
  width: 90%;
  bottom: 2rem;
}

blockquote {
  color: #7f8fa4;
  border-left: 3px solid #eaeaea;
  padding: 0 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}

.layout-three-col {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

.layout-three-col .item {
  background: #f5f5f5;
  padding: 10px;
  text-align: center;
  padding-bottom: 24px;
}

.layout-three-col .item-title {
  font-weight: bold;
  font-size: 18px;
}

.layout-three-col .item-icon {
  font-size: 36px;
}